@import './variables.scss';
@import './mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    @include md {
        flex-direction: row;
    }
}