// breakpoints 
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// colors 
$green : green;
$grey : #f5f5f6; 
$white: white;
$black: black;
$light-grey: #d9d9ea;
$red:  #f50f0f;

//font-size 
$font-sm: 12px;
$font-md: 15px;
$font-lg: 16px;
$font-xl: 24px;